@import "../../../scss/vars";

.AddButton {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    resize: none;
    box-sizing: border-box;
    color: $text-grey1;

    img {
        width: 40px;
        padding: 10px;
        cursor: pointer;
    }
}
