.AddButton {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    resize: none;
    box-sizing: border-box;
    color: #a0a0a0;

    img {
        width: 40px;
        padding-top: 10px;
        cursor: pointer;
    }
}
