.AppBar {
    background-color: #ECECEC;
    height: 60px;
    text-align: right;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border: 0;
        outline: none;
        cursor: pointer;
        background: transparent;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.15px;
        text-transform: uppercase;
        color: #FFFFFF;

        &:hover {
            background: linear-gradient(0deg, #C90000, #C90000);
            box-shadow: 0px 4px 20px rgba(201, 0, 0, 0.14);
            border-radius: 4px;
            color: #FFF;
        }
    }

    &__menu-btn-container {
        display: flex;
        justify-content: flex-end;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            color: #C90000;
            img{
                margin-right: 5px;
            }
        }
        .AppBar__menu-btn--active {
            color: #FFF;
            background-color: #C90000;
            padding: 12px;
            border-radius: 4px;
        }
    }

    &__scalac {
        cursor: pointer;
        vertical-align: middle;
    }

    &__scalac-transparent {
        position: absolute;
        left: 35vw;
        top: 0;
    }
}

