@import "../../scss/vars";

.AppBar {
    background-color: $background-color-red;
    height: 40px;
    position: relative;
    padding: 10px;
    text-align: right;

    button {
        height: 40px;
        border: 0;
        outline: none;
        cursor: pointer;
        background: transparent;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.15px;
        text-transform: uppercase;
        color: $text-white;

        &:hover {
            background: $app-bar-button-background-color;
            box-shadow: $app-bar-button-box-shadow;
            border-radius: 4px;
        }
    }

    &__scalac {
        position: absolute;
        left: 50px;
        cursor: pointer;
    }

    &__scalac-transparent {
        position: absolute;
        left: 35vw;
        top: 0;
    }
}

