.AppBar {
  background-color: #ececec;
  height: 60px;
  text-align: right;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu-btn-container {
    display: flex;
    justify-content: flex-end;
  }

  &__scalac {
    cursor: pointer;
    vertical-align: middle;
  }

  &__scalac-transparent {
    position: absolute;
    left: 35vw;
    top: 0;
  }
}
