@import "../../../scss/vars";

.form-button {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15;
    font-size: 14px;
    box-shadow: $box-shadow;
    border-radius: 4px;
    padding: 5px;
    height: 40px;
    min-width: 100px;
    border: none;
    color: white;

    &:hover {
        cursor: pointer;
    }
}

.form-button_submit {
    background: $background-color-red;
}

.form-button_secondary {
    background: $background-color-grey-3;
}
