.Translator {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  height: auto;

  &__header {
    color: #ffffff;
    background: #787878;
    //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    border-radius: 3px 3px 0 0;
    padding: 10px;
    height: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;

    button {
      background: transparent;
      border: 0;
      border-bottom: 2px solid #787878;
      padding: 16px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.15px;
      text-transform: uppercase;
      color: #FFFFFF;
      outline: 0;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid #ffffff;
      }
    }

    &-selected {
        border-bottom: 2px solid #ff0000 !important;
    }

    &__translate-button {
      margin-left: 40px;
      margin-right: 40px;
      cursor: pointer;
    }
  }

  &__translator-area {
    background: linear-gradient(to right, #ffffff 50%, #f5f5f5 50%);
    text-align: center;

    textarea {
      height: 20%;
      resize: none;
      box-sizing: border-box;
      padding: 10px;
      color: #a0a0a0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.15px;
      overflow: hidden;
    }
  }

  &__buttons-area {
    clear: both;
    //border: 1px solid green;
    img {
      width: 15px;
      padding: 10px;
      cursor: pointer;
    }

    :nth-child(1) {
      position: relative;
      left: 25%;
    }

    :nth-child(2) {
      position: absolute;
      right: 25%;
    }
  }

  &__error-area {
    clear: both;
    font-weight: bold;
    color: #FF0000;
    box-sizing: border-box;
    padding: 20px;
  }
}
