.contact-page {
    .container_full {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 800px) {
            display: block;
        }
    }

    .sub-container_contact-form {
        width: 65%;

        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }

    .sub-container_contact-info {
        width: 35%;

        @media screen and (max-width: 800px) {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }

        @media screen and (max-width: 500px) {
            width: 100%;
        }
    }
}