.LibraryListItem {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    height: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    align-items: center;
    vertical-align: top;
    resize: none;
    box-sizing: border-box;
    color: #a0a0a0;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.15px;
    padding: 5px;
    display: flex;

    &__basic-data {
        & div {
            padding: 5px;
        }
    }

    &__column {
        box-sizing: border-box;
        padding: 5px;
        width: 20%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        &:nth-of-type(1), &:last-of-type {
            font-weight: bold;
            align-items: center;
            justify-content: center;
        }

        &:nth-of-type(odd) {
            background-color: #EAEAEA;
        }

        @media screen and (max-width: 500px) {
            display: flex;
            width: 100%;
        }

        & span {
            margin-left: 10px;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
                color: #FF0000;
            }
        }
    }
}
