.DeleteButton {
    display: inline-block;
    width: 100%;
    align-items: center;
    vertical-align: top;
    resize: none;
    box-sizing: border-box;
    color: #a0a0a0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.15px;

    img {
        width: 15px;
        padding: 10px;
        cursor: pointer;
    }
}
