@import "../../../scss/vars";

.form-textarea {

   .form-textarea_input {
       resize: none;
       width: calc(100% - 30px);
       border: 1px solid $border-grey3;
       border-radius: 3px;
       min-height: 50px;
       padding: 15px;
       font-size: 16px;
       line-height: 24px;
       color: $textarea-text;

       &:focus {
           border-color: $border-red;
       }
   }

   .form-textarea_label {
    color: $text-red;
    position: relative;
    background: white;
    width: 100px;
    top: 10px;
    left: 20px;
    text-align: center;
   }

   .form-textarea_error {
    height: 20px;
    text-align: left;
    opacity: 0.6;
    font-size: 12px;
   }
}
