@import "../../../scss/vars";

.app-modal {
    position: fixed;
    display: table;
    width: 100%;
    height: 100%;
    background: $modal-background;
    left: 0;
    top: 0;

    .app-modal_content {
        display: table-cell;
        vertical-align: middle;

        .app-modal_children {
            background: white;
            box-shadow: $modal-box-shadow;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px 15px 10px 15px;

            @media screen and (max-width: 800px) {
                max-width: 500px;
            }

            @media screen and (max-width: 500px) {
                max-width: 95%;
            }
        }
    }
}
