.TextField {
    flex: 0 0 50%;
    width: 50%;
    align-items: center;
    vertical-align: top;
    resize: none;
    box-sizing: border-box;

    textarea {
        border: 0;
        width: 100%;
        background: transparent;
        overflow: hidden;
        resize: none;
        min-height: 20vh;
        color: #a0a0a0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.15px;
        box-sizing: border-box;
        padding: 20px;
    }

    @media screen and (max-width: 500px) {
        flex: 0 0 100%;
        &:nth-child(even) {
            background-color: #f5f5f5;
        }
    }

}
