.Main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.App {
 min-width: 350px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Textfield {
  width: 90%;
}

.CurrentMode {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 8px;
}
