.Main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid black; */
  padding: 10px;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Textfield {
  width: 90%;
}

.CurrentMode {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 8px;
  /*padding: 5px;*/
}

.Error {
  font-weight: bold;
  color: #FF0000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
