body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.15px;

  color: #333333;
}

textarea, button {
  outline: none;
}

.Main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.App {
 min-width: 350px;
}

.Component {
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Textfield {
  width: 90%;
}

.CurrentMode {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 8px;
}
