$red: #C91C00;
$red1: #FF0000;
$red2: #FF6868;
$dark: #282c34;
$dark2: #333333;
$grey1: #A0A0A0;
$grey2: #EAEAEA;
$grey3: #787878;
$grey-light: #F5F5F5;
$grey-light1: #E4E4E4;
$grey-light2: #FAFAFA;
$grey-light3: #F4F4F4;
$grey-light4: #E9E9E9;
$white: #FFFFFF;
$green: #1b9309;
$black: #000000;

$background-color: $dark;
$background-color-red: $red;
$background-color-grey-1: $grey1;
$background-color-grey-2: $grey2;
$background-color-grey-3: $grey3;
$background-color-grey-light: $grey-light;
$background-color-grey-light1: $grey-light1;
$background-color-grey-light2: $grey-light2;
$background-color-grey-light3: $grey-light3;
$background-color-white: $white;
$background-color-black: $black;

$text-white: $white;
$text-grey1: $grey1;
$text-dark2: $dark2;
$text-red: $red;
$text-red1: $red1;
$text-red2: $red2;
$box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);

$border-white: $white;
$border-grey3: $grey3;
$border-red: $background-color-red;
$border-grey-light4: $grey-light4;
$border-black: $black;

$app-bar-button-background-color: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
$app-bar-button-box-shadow: 0px 4px 20px rgba(201, 0, 0, 0.14);

$modal-background: rgba(255, 255, 255, 0.6);
$modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);

$textarea-text: rgba(0, 0, 0, 0.87);
